*.html
*.pdf
*.hi
*.o
*.errors
*.retry
*xmonad-x86_64-linux
*xmonad-x86_64-freebsd
*xmonad-x86_64-netbsd
.xmonad/TAGS
.xmonad/xmonad
.xmonad/.xmonad
.xmonad/.xmonad-session-rc
*#*
*.swp
cv/auto*
cv/*.log
