[user]
	email = trevis@clickscape.com
        name = telser

[color]
        status = auto
        branch = auto
        diff = auto
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = nothing
[pull]
       ff = only
