*.html
*.pdf
*.hi
*.o
*.errors
*.retry
*.elc
emacs/.cask
*xmonad-x86_64-linux
*xmonad-x86_64-freebsd
.xmonad/TAGS
.xmonad/prompt-history
.xmonad/xmonad.state
.xmonad/.xmonad
.xmonad/.xmonad-session-rc
.xmonad/cabal.project.local~*
*#*
*.swp
cv/auto*
cv/*.log
*~

## xmonad build stuff
.xmonad/dist-newstyle
