[user]
	email = trev311@gmail.com
        name = Trev

[color]
        status = auto
        branch = auto
        diff = auto
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
