! urxvt settings
URxvt.termName:          rxvt
URxvt.background:        #000000
URxvt.foreground:        #CCCCCC
URxvt.transparent:       false
URxvt.cursorBlink:       false
URxvt.scrollBar_right:   true
