! urxvt settings
URxvt.termName:          xterm-256color
URxvt.background:        #000000
URxvt.foreground:        #FFFFFF
URxvt.transparent:       true
URxvt.cursorBlink:       false
URxvt.scrollBar_right:   true
URxvt.font: xft:Hack:size=12:antialias=true
URxvt*skipBuiltinGlyphs: true

!  *cursorColor:   #1F66FF

!black
URxvt.color0:  #000000
URxvt.color8:  #404040
!red
URxvt.color1:  #CD0000
URxvt.color9:  #FF0000
!green
URxvt.color2:  #00CD00
URxvt.color10: #00FF00
!yellow
URxvt.color3:  #CDCD00
URxvt.color11: #FFFF00
!blue
URxvt.color4:  #0000EE
URxvt.color12: #5C5CFF
!magenta
URxvt.color5:  #CD00CD
URxvt.color13: #FF00FF
!cyan
URxvt.color6:  #00CDCD
URxvt.color14: #00FFFF
!white
URxvt.color7:  #FAEBD7
URxvt.color15: #FFFFFF
